@import 'bootstrap.min.css';


/* Sticky footer styles
-------------------------------------------------- */

body {
  /* Margin bottom by footer height */
  padding-bottom: 3rem;
  background-color: #333;
  color: #fff;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #333;
}

a,
a:focus,
a:hover {
  color: #fff;
}

.icon {
  width: 20px;
  height: 20px;
}
.navbar-bg {
  background-color: #333;
}

.navbar-brand {
  font-size: 2rem;
  padding-top: 0 !important;
}

.row {
  padding-bottom: 10px;
}

.table {
  font-size: 85%;
}

.padded-link {
  margin-left: 1rem;
}

.m-m-t {
  margin-top: 1.5rem;
}

.dnf {
  text-transform: uppercase;
  background-color: white;
  color: #333;
  font-size: 75%;
  padding: 2px;
}

.stagerank {
  font-size: 80%;
}

.toplink {
  position: relative;
  top: 7px;
}

.middle-align {
  padding-top: 4px;
}

.btn {
  padding: 0.200rem 0.55rem;
}
