@import 'bootstrap.min.css';


/* Sticky footer styles
-------------------------------------------------- */

body {
  /* Margin bottom by footer height */
  padding-bottom: 3rem;
  background-color: #333;
  color: #fff;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 1.5rem;
  letter-spacing: 0.07rem;
  background-color: #333;
  font-size: 85%;
}

h2 {
  letter-spacing: 0.1rem;
}

th {
  letter-spacing: 0.08rem;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
  border-bottom: 0;
}

.navbar .nav-link.active {
  color: #fff;
  border-bottom-color: #fff;
}

.navbar .nav-link {
  padding: 0.60rem 0 0.25rem 0;
  font-weight: 500;
  border-bottom: 0.20rem solid transparent;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

a.none, a.none:focus, a.none:hover {
  border-bottom: 0;
}

a {
  color: #fff;
  text-decoration: none;
  padding-bottom: 0.4px;

}

main a[href] {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid white;
  padding-bottom: 0.4px;

}

header a {
  border-bottom: 0;
}

a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid white;
}

a.toplink {
  border-bottom: 0 !important;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.race-details {
  transition: all 0.3s ease;
}

.plus-rotate {
  transform: rotate(45deg);
}

.icon {
  width: 20px;
  height: 20px;
}

.icon-large {
  width: 25px;
  height: 25px;
}

.fat-icon {
  stroke-width: 4;
  width: 18px;
  height: 18px;
  transition: all 0.3s ease;
}

.shower, .icon {
  cursor: pointer;
}

.race-shower {
  cursor: pointer;
}

.navbar-bg {
  background-color: #333;
}

.navbar-brand {
  font-size: 2rem;
  padding-top: 0 !important;
}

.row {
  padding-bottom: 10px;
}

.table {
  font-size: 85%;
}

li .table {
  margin-bottom: 0;
}

li .race-detail {
  min-height: 300px;
}

li .race-detail .race-graph {
  min-height: 300px;
}

.table-dark.table-striped tbody tr.odd {
  background-color: #212529;
}

.table-dark {
  border: 1px solid #000;
  border-radius: 2px;
}

.table thead th {
  vertical-align: bottom;
/*  border-bottom: 2px solid #212529;*/
}

.table-dark td, .table-dark th, .table-dark thead th {
  border-color: #fff;
}

.table .table {
  background-color: #212529 !important;
}

.table tbody td {
  border-top: 1px solid #2e2e2e;
  padding: 4px;
}

table[data-sortable].sortable-theme-dark th[data-sorted="true"] {
  background: #2e2e2e;
}

table[data-sortable] th:not([data-sortable="false"]) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  cursor: pointer;
}

table[data-sortable] th:after {
  content: "";
  visibility: hidden;
  display: inline-block;
  vertical-align: inherit;
  height: 0;
  width: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  margin-right: 1px;
  margin-left: 10px;
  float: right;
}
/* line 40, ../sass/_sortable.sass */
table[data-sortable] th[data-sorted="true"]:after {
  visibility: visible;
}
/* line 43, ../sass/_sortable.sass */
table[data-sortable] th[data-sorted-direction="descending"]:after {
  border-top-color: inherit;
  margin-top: 8px;
}
/* line 47, ../sass/_sortable.sass */
table[data-sortable] th[data-sorted-direction="ascending"]:after {
  border-bottom-color: inherit;
  margin-top: 3px;
}


.padded-link {
  margin-left: 1rem;
}

.m-m-t {
  margin-top: 1.5rem;
}

.list-group, .list-group-item, .list-group-item-dark {
  background-color: #333;
  color: #fff;
}

.hidden {
  visibility: hidden;
}

#compare-list svg {
  margin-right: 1rem;
  width: 20px;
  height: 20px;
}

.beta {
  text-transform: uppercase;
  font-size: 60%;
  transform: rotate(30deg);
  position: relative;
  top: -7px;
}

.text-image {
  float:left;
  padding-right: 1rem;
  vertical-align: top;
}

#searchField {
  width: 17rem;
}

#compare-search-field {
  width: 25rem;
  margin-left: 1rem;
}

.dnf {
  text-transform: uppercase;
  background-color: white;
  color: #333;
  font-size: 85%;
  padding: 2px;
}

.stagerank, .smaller {
  font-size: 80%;
}

.toplink {
  position: relative;
  top: 7px;
}

.middle-align {
  padding-top: 4px;
}

.btn {
  padding: 0.200rem 0.55rem;
}

a.btn {
  text-decoration: none !important;
}

.race-details {
  padding-top: 10px;
  padding-left: 10px;
}

.rider-chart {
  height: 225px;
}

.race-graph {
  height: 175px;
  width: 100%;
}

.race-prog-graph {
  height: 300px;
  width: 100%;
}

.race-detail-graph {
  height: 250px;
  width: 100%;
}

#map {
  height: 100%;
  min-height: 500px;
  padding-bottom: 5px;
}

.map-chart-container {
  height: 300px;
}

#details {
  padding-top: 10px;
}

.details-row {
  padding-bottom: 5px;
}
