@import 'bootstrap.min.css';


/* Sticky footer styles
-------------------------------------------------- */

body {
  /* Margin bottom by footer height */
  padding-bottom: 3rem;
  background-color: #333;
  color: #fff;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #333;
}

a {
  color: #fff;
  text-decoration: underline;
}

header a {
  text-decoration: none;
}

a:focus,
a:hover {
  color: #ccc;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.race-details {
  transition: all 0.3s ease;
}

.plus-rotate {
  transform: rotate(45deg);
}

.icon {
  width: 20px;
  height: 20px;
}

.fat-icon {
  stroke-width: 4;
  width: 18px;
  height: 18px;
  transition: all 0.3s ease;
}

.shower {
  cursor: pointer;
}

.race-shower {
  cursor: pointer;
}

.navbar-bg {
  background-color: #333;
}

.navbar-brand {
  font-size: 2rem;
  padding-top: 0 !important;
}

.row {
  padding-bottom: 10px;
}

.table {
  font-size: 85%;
}

.table .table {
  background-color: #212529 !important;
}
.padded-link {
  margin-left: 1rem;
}

.m-m-t {
  margin-top: 1.5rem;
}

.beta {
  text-transform: uppercase;
  font-size: 60%;
  transform: rotate(30deg);
  position: relative;
  top: -7px;
}
.dnf {
  text-transform: uppercase;
  background-color: white;
  color: #333;
  font-size: 75%;
  padding: 2px;
}

.stagerank, .smaller {
  font-size: 80%;
}

.toplink {
  position: relative;
  top: 7px;
}

.middle-align {
  padding-top: 4px;
}

.btn {
  padding: 0.200rem 0.55rem;
}

a.btn {
  text-decoration: none;
}

.race-details {
  padding-top: 10px;
  padding-left: 10px;
}

.rider-chart {
  height: 225px;
}

.race-graph {
  height: 175px;
  width: 100%;
}

.race-prog-graph {
  height: 300px;
  width: 100%;
}

.race-detail-graph {
  height: 250px;
  width: 100%;
}
