<label for="rider-graph-selector">Velg graf:</label> <select id="rider-graph-selector" class="mb-2 rider-graph-selector">
  <option value="percent" selected>Prosentvis plassering</option>
  <option value="places">Plassering i klasse</option>
</select>
<div data-uid="{{rider.uid}}" id="rider-chart" class="rider-chart"></div>
