{{#compare series '===' '80/20 enduro series'}}
  <a href="http://8020es.no/">80/20 enduro series</a>
{{/compare}}

{{#compare series '===' 'Østafjells enduroserie'}}
  <a href="https://www.facebook.com/ostafjellsets/">Østafjells enduroserie</a>
{{/compare}}

