bundlemap-js.json
node_modules
.nyc_output
coverage
*/.DS_Store
.DS_Store
logs
server/dist
config/production-config.json
dump.sql
scripts
app.yaml
bundlemap-css.json
bundlemap-js.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
