node_modules
.nyc_output
coverage
*/.DS_Store
.DS_Store
logs
database.json
server/dist
scripts/restore_to_aws.sh
dump.sql
app.yaml
bundlemap-css.json
bundlemap-js.json
switchdb
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
cdn
raw_images
