<!DOCTYPE html>
<html>
  <!doctype HTML>
  <html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <title>Norsk endurostatistikk</title>
    </head>
    <body>
  <head>
    <meta charset="utf-8">
  </head>
  <body>

    {{{body}}}

  </body>
</html>
