<!doctype html>
  <html class="no-js" lang="no">

    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Norsk enduro</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="manifest" href="site.webmanifest">
      <link rel="apple-touch-icon" href="icon.png">
      <link rel="stylesheet" href="/assets/css/bundle.css">
    </head>

    <body>
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Norsk enduro</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="/ritt">Ritt</a>
            <a class="nav-link" href="/ryttere">Ryttere</a>
          </nav>
        </div>
        </header>

        <main role="main" class="inner cover">
          {{{ body }}}
        </main>

        <footer class="mastfoot mt-auto">
          <div class="inner">
            <p>Knut Haugen @ 2018.</p>
          </div>
        </footer>
      </div>
    </body>
    <script src="/assets/js/{{hashedAssets 'bundle.js'}}" crossorigin="anonymous"></script>
  </html>
