<!doctype html>
  <html class="no-js" lang="no">

    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Norsk enduro</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="manifest" href="site.webmanifest">
      <link rel="apple-touch-icon" href="icon.png">
      <link rel="stylesheet" href="/assets/css/bundle.css">
    </head>

    <body>

      <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
          <a class="navbar-brand" href="/">Norsk enduro</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/ritt">Ritt {{#compare active '===' 'ritt'}}<span class="sr-only">(current)</span>{{/compare}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ryttere">Ryttere {{#compare active '===' 'ryttere'}}<span class="sr-only">(current)</span>{{/compare}}</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <main role="main" class="container">
        {{{ body }}}
      </main>
      <footer class="footer">
        <div class="container">
          <span class="text-muted">Knut Haugen @ 2018.</span>
        </div>
      </footer>
    </body>
    <script src="/assets/js/{{hashedAssets 'bundle.js'}}" crossorigin="anonymous"></script>
  </html>
