<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <h3>Om norsk enduro</h3>
Norsk enduro er et forsøk på å samle resultater fra alle norske enduroritt, og hente ut mere
data fra dem. Man kan analysere ryttere fremgang fra ritt til ritt, se hvor tett eller spredd ut resultatene er i rittene og se historikken på hvilke ryttere som gjør det best over tid, og ikke minst se hvordan norsk enduro har utviklet seg på et større plan siden den relativt spede starten i 2012 og fram til nå. </p>
    <p>Per nå er ikke alle rittene samlet her, da resultatene ikke lenger er å oppdrive på det regulære internettet. Sitter du på resultatene fra noen av rittene som mangler, hører jeg gjerne fra deg!</p>
    <p>Rittene som mangler helt eller har så store feil i resultatene at de er utelatt, er Kongsberg enduro 2013, Traktor enduro 2013, Frei enduro 2014, Hillbilly enduro 2015, Frei enduro 2016 og Telemark enduro 2017.</p>

    <p>En del av resultatene er hentet fra eqtiming.no, noen fra pdf'er lastet opp på facebook, og i de værste tilfellene har det vært manuell konvertering av jpg-bilder av en tabell. Trailhead Nesbyen har vært velvillig med excel-eksport av deres resultater fra Mylaps-systemet, som også har gjort resultatene mer til å stole på i de senere år (for ikke å glemme jobben lettere for meg). Tidlige ritt har som de fleste har fått med seg underveis hatt utfordringer på tidtagingen og resultatlistene bør tas med en klype salt der. En annen utfordring er merkelige dataformater, spesielle skrivemåter på navn og generelt rare detaljer i resultatene. Jeg har gjort en god del arbeid med å slå sammen navn som er feilstavet, men det kan fortsatt være utfordringer der.</p>

    <h3>Funksjonalitet</h3>
    <p>Nettstedet har blitt laget med en fremgangsmåte som er litt, kanskje slurvete, i mangel på et bedre ord. Det er lagt til en del fuksjonalitet for å analysere ritt og individuelle rytteres prestasjon i rittene. Et ninja-triks er å alltid trykke på '+' der man ser dem i tabellene enten for en rytter i et ritt, eller på rytter-siden for ett spesifikt ritt. Det vil vise utvidete data for rytteren i rittet, fra litt forskjellig perspektiv om man ser på en rytter eller ritt. Det slurvete her, er at det er lagt til en del data, uten å bruke altfor mye tid på å analysere hvor viktig eller nyttig de er. Er de nyttige for noen, er det fint. Om ikke, vel så har ingen dødd av det. </p>
    <p>Det samme er tilfellet med grafene på de ulike sidene, og her kan det nok komme endringer etter hvert. </p>

    <h3>Hvem står bak?</h3>
    <p>Mannen som står bak dette nettstedet heter Knut Haugen, semiaktiv mastersyklist for Lørenskog CK, med fokus på terreng. Litt terrengritt (stort sett Terrengsykkelrittet hvert år) og noen kross-ritt på høsten, men ellers er det stisykling som gjelder, og enduro-ritt. Til daglig er jeg software-utvikler, men noe av arbeidet med Norsk enduro har vært motivert av å lære noe nytt og drive med noe annet enn den daglige jobben også, blant annet public cloud og frontend-teknologier. Men aller mest hadde jeg lyst på denne oversikten over enduro-resultater selv, så da lagde jeg den. I tillegg gikk jeg en hel måned uten å kunne trene pga. sykdom i desember 2018, og noe måtte jeg finne på for å ikke gå fullstendig på veggen av kjedsomhet. Mine stats finner du på <a href="/rytter/00fde8e308a30a453c1f22e9bf8600a8">denne siden</a> </p>
    <p>Søker du kontakt, om Norsk enduro eller sykling generelt, finner du meg på instagram og gmail, alle med brukernavnet 'knuthaug'. Facebook er jeg vel også, men der må du søke. </p>
  </div>
</div>
