<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-6 col-12">
    <h2>Rittkalender 2021</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8 col-12">
    <table class="counted" width="100%">
      <thead>
        <th>#</th>
        <th>Dato</th>
        <th>Ritt</th>
        <th>Resultater</th>
        <th>Serie</th>
        <th>Påmelding</th>
      </thead>
      <tbody>
        <!-- 
             <tr>
             <td>1. februar</td>
             <td><a href="https://www.facebook.com/events/2472317043027603/">Hakadal enduro snowhill (avlyst!)</a><i class="icon" data-feather="arrow-up-right"></i></td>
             <td></td>
             <td></td>
             <td></td>
             </tr>
        -->
      </tbody>
    </table>
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="row mt-4">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 col-12">
    Kjenner du til flere ritt enn de som står her? Meld fra på knuthaug krøllalfa gmail dot com eller @knuthaug på twitter.
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="row mt-4">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 col-12">
    <h4>Rittkalender for tidligere år</h4>
    <ul>
      <li><a href="/kalender/2020">2020</a></li>
    </ul>
  </div>
  <div class="col-lg-2"></div>
</div>
<script src="/assets/js/{{hashedAssets 'cal.js'}}" crossorigin="anonymous"></script>
