<div class="row"> 
  <div class="col-lg-2">
  </div>
  <div class="col-lg-6 col-12">
    <h2>Rittkalender 2022</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8 col-12">
    <table class="counted" width="100%">
      <thead>
        <th>#</th>
        <th>Dato</th>
        <th>Ritt</th>
        <th>Resultater</th>
        <th>Serie</th>
        <th>Påmelding</th>
      </thead>
      <tbody>
        <tr>
          <td>14-15. mai</td>
          <td><a href="https://www.facebook.com/events/446710982745553">Telemark Enduro</a><i class="icon" data-feather="arrow-up-right"></i></td>
          <td><a href="/ritt/06bb4235dc630e0914c9b363d36622a2">Resultater</a></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>11-12. juni</td>
          <td><a href="https://www.enduroworldseries.com/race/qualifiers/event/2022/nesbyen-enduro-nor/202228/">Nesbyen Enduro</a><i class="icon" data-feather="arrow-up-right"></i></td>
          <td><a href="/ritt/bf48d39680e87c0680608f385f244e47">Resultater</a></td>
          <td>EWS qualifier/NC</td>
          <td></td>
        </tr>
        <tr>
          <td>25. juni</td>
          <td>DrammEnduro</td>
          <td><a href="/ritt/348198e02e466078f3257416c3fcc0f1">Resultater</a></td>
          <td>NC/NM!</td>
          <td></td>
        </tr>

        <tr>
          <td>27. juni</td>
          <td>Ekstremsportveko enduro</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
         <tr>
          <td>13. august</td>
          <td><a href="https://www.facebook.com/events/759715872070278">Ringerike enduro</a><i class="icon" data-feather="arrow-up-right"></i>
          </td>
          <td></td>
          <td></td>
          <td><a href="https://signup.eqtiming.com/paamelding/ringerike-enduro-2022/g295.32973?event=krokskogenck">Påmelding</a><i class="icon" data-feather="arrow-up-right"></i></td>
        </tr>
        
        <tr>
          <td>3. september</td>
          <td><a href="https://signup.eqtiming.com/?Event=HCK_Enduro">Traktorland Enduro</a><i class="icon" data-feather="arrow-up-right"></td>
          <td></td>
          <td>NC</td>
          <td><a href="https://signup.eqtiming.com/?Event=HCK_Enduro">Påmelding</a><i class="icon" data-feather="arrow-up-right"></i></td>
        </tr>
        <tr>
          <td>3-4. september</td>
          <td>Harstad Enduro Race</i></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>11. september</td>
          <td><a href="https://www.facebook.com/events/425499199424137/ ">Spikkestad Enduro</a><i class="icon" data-feather="arrow-up-right"></i></td>
          <td></td>
          <td>NC</td>
          <td><a href="https://signup.eqtiming.com/paamelding/spikkestad-enduro/g295.31623?event=vaarsol">Påmelding</a><i class="icon" data-feather="arrow-up-right"></i></td>
        </tr>
        <tr>
          <td>11. september</td>
          <td>Nittedal ungdomsenduro<i class="icon" data-feather="arrow-up-right"></i></td>
          <td></td>
          <td></td>
          <td><a href="https://live.eqtiming.com/60681#dashboard">Påmelding (ikke åpnet)</a><i class="icon" data-feather="arrow-up-right"></i></td>
        </tr>
        <tr>
          <td>17-18. september</td>
          <td><a href="https://www.facebook.com/events/521271959210005">Trysil Enduro</a><i class="icon" data-feather="arrow-up-right"></i></td>
          <td></td>
          <td>NC</td>
          <td><a href="https://www.participant.no/event/trysil_enduro_2022#init">Påmelding</a><i class="icon" data-feather="arrow-up-right"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="row mt-4">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 col-12">
    Kjenner du til flere ritt enn de som står her? Meld fra på knuthaug krøllalfa gmail dot com.
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="row mt-4">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 col-12">
    <h4>Rittkalender for tidligere år</h4>
    <ul>
      <li><a href="/kalender/2021">2021</a></li>
      <li><a href="/kalender/2020">2020</a></li>
      <li><a href="/kalender/2019">2019</a></li>
    </ul>
  </div>
  <div class="col-lg-2"></div>
</div>
<script src="/assets/js/{{hashedAssets 'cal.js'}}" crossorigin="anonymous"></script>
