<div class='row'>
  <div class='col-lg-2'>
  </div>
  <div class='col-lg-6 col-12'>
    <h2>Rittkalender 2023</h2>
  </div>
</div>
<div class='row'>
  <div class='col-lg-2'>
  </div>
  <div class='col-lg-8 col-12'>
    <table class='counted' width='100%'>
      <thead>
        <th>#</th>
        <th>Dato</th>
        <th>Ritt</th>
        <th>Resultater</th>
        <th>Serie</th>
        <th>Påmelding</th>
      </thead>
      <tbody>
        <tr>
          <td>17. Juni</td>
          <td><a
              href='https://www.facebook.com/events/468934355081760/'
            >Drammenduro</a><i
              class='icon'
              data-feather='arrow-up-right'
            ></i></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>12. august</td>
          <td><a
              href='https://www.facebook.com/events/468934355081760/'
            >Ringerike enduro</a><i
              class='icon'
              data-feather='arrow-up-right'
            ></i></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>26-27. august</td>
          <td>Traktorland Enduro</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>2. september</td>
          <td><a href='https://www.facebook.com/harstadenduro/'>Harstad enduro
              race</a><i class='icon' data-feather='arrow-up-right'></i></td>
          <td></td>
          <td></td>
          <td><a href="https://live.eqtiming.com/67224#dashboard">Påmelding</a>
            <i class='icon' data-feather='arrow-up-right'></i>
          </td>
        </tr>
        <tr>
          <td>3. september</td>
          <td><a href='https://live.eqtiming.com/66954#dashboard'>Mistberget
              ungdomsenduro</a><i
              class='icon'
              data-feather='arrow-up-right'
            ></i></td>
          <td></td>
          <td></td>
          <td><a href="https://live.eqtiming.com/66954#dashboard">Påmelding</a><i class='icon' data-feather='arrow-up-right'></i> </td>
        </tr>
        <tr>
          <td>9-10. September</td>
          <td><a
              href='https://www.facebook.com/events/1334052040762181'
            >Nittedal ungdomsenduro</a><i
              class='icon'
              data-feather='arrow-up-right'
            ></i></td>
          <td></td>
          <td></td>
          <td><a href="https://live.eqtiming.com/65513#dashboard">Påmelding</a><i class='icon' data-feather='arrow-up-right'></i></td>
        </tr>
        <tr>
          <td>10. September</td>
          <td><a
              href='https://www.facebook.com/events/468934355081760/'
            >Spikkestad enduro</a><i
              class='icon'
              data-feather='arrow-up-right'
            ></i></td>
          <td></td>
          <td></td>
          <td><a
              href='https://live.eqtiming.com/63532#dashboard'
            >Påmelding</a><i
              class='icon'
              data-feather='arrow-up-right'
            ></i></td>
        </tr>
        <tr>
          <td>16-17. September</td>
          <td>Trysil enduro</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='col-lg-2'></div>
</div>
<div class='row mt-4'>
  <div class='col-lg-2'></div>
  <div class='col-lg-8 col-12'>
    Nesbyen skal også arrangere ritt, men dato er ikke satt enda. Kjenner du til
    flere ritt enn de som står her? Meld fra på knuthaug krøllalfa gmail dot
    com.
  </div>
  <div class='col-lg-2'></div>
</div>
<div class='row mt-4'>
  <div class='col-lg-2'></div>
  <div class='col-lg-8 col-12'>
    <h4>Rittkalender for tidligere år</h4>
    <ul>
      <li><a href='/kalender/2022'>2022</a></li>
      <li><a href='/kalender/2021'>2021</a></li>
      <li><a href='/kalender/2020'>2020</a></li>
      <li><a href='/kalender/2019'>2019</a></li>
    </ul>
  </div>
  <div class='col-lg-2'></div>
</div>
<script
  src='/assets/js/{{hashedAssets "cal.js"}}'
  crossorigin='anonymous'
></script>
