<div class="row">
  <div class="col-2">
  </div>
  <div class="col-6">
    <h2>Rittkalender 2020</h2>
    <p>Det blir ingen 80/20 serie i 2020, jfr. <a href="https://www.terrengsykkel.no/nyheter/slutt-for-80-20-enduro-series">https://www.terrengsykkel.no/nyheter/slutt-for-80-20-enduro-series</a>. Vi håper at det blir enda flere frittstående ritt enn det som er på kalenderen per nå. </p>
  </div>
</div>
<div class="row">
  <div class="col-2">
  </div>
  <div class="col-8">
    <table class="counted" width="100%">
      <thead>
        <th>#</th>
        <th>Dato</th>
        <th>Ritt</th>
        <th>Resultater</th>
        <th>Serie</th>
        <th>Påmelding</th>
      </thead>
      <tbody>
        <tr>
          <td>1. februar</td>
          <td><a href="https://www.facebook.com/events/2472317043027603/">Hakadal enduro snowhill (avlyst!)</a><i class="icon" data-feather="arrow-up-right"></i></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    
        <tr>
          <td>23. mai</td>
          <td><a href="https://www.facebook.com/events/446710982745553/">Telemark enduro (avlyst)</a><i class="icon" data-feather="arrow-up-right"></td>
            <td></td>
            <td><a href="https://www.facebook.com/ostafjellsets/">Østafjells</a><i class="icon" data-feather="arrow-up-right"></td>
            <td></td>
        </tr>
        <tr>
          <td>13-14. juni</td>
          <td><a href="https://www.facebook.com/events/636428516765082/">Traktorland Enduro (avlyst)</a><i class="icon" data-feather="arrow-up-right"></i></td>
          <td></td>
          <td><a href="https://www.facebook.com/ostafjellsets/">Østafjells</a><i class="icon" data-feather="arrow-up-right"></i></td>
           <td></td>
        </tr>

        <tr>
          <td>11-12. juli</td>
          <td><a href="https://www.facebook.com/events/604802986937586/">Funduro Cup Skeikampen</a><i class="icon" data-feather="arrow-up-right"></td>
            <td></td>
            <td><a href="https://www.fundurocup.fi/">Funduro Cup</a><i class="icon" data-feather="arrow-up-right"></td>
              <td></td>
        </tr>
          <tr>
            <td>15-16. august</td>
            <td><a href="https://www.facebook.com/events/554042141799123/">Oslo Enduro (avlyst)</a><i class="icon" data-feather="arrow-up-right"></td>
              <td></td>
            <td><a href="https://www.facebook.com/ostafjellsets/">Østafjells</a><i class="icon" data-feather="arrow-up-right"></td>
              <td></td>
          </tr>
          <tr>
            <td>22. august</td>
            <td><a href="https://www.facebook.com/events/206469747215311">Ringerike enduro</a></td>
              <td></td>
              <td><a href="https://www.facebook.com/ostafjellsets/">Østafjells</a><i class="icon" data-feather="arrow-up-right"></td>
                <td></td>
          </tr>
          <tr>
            <td>30. august</td>
            <td><a href="https://www.facebook.com/events/2597072347191889/">NesbyEnduro</a><i class="icon" data-feather="arrow-up-right"></i></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>5-6. september</td>
            <td><a href="https://www.facebook.com/events/554089765372793/">Hakadal Enduro (avlyst)</a><i class="icon" data-feather="arrow-up-right"></td>
              <td></td>
              <td><a href="https://www.facebook.com/ostafjellsets/">Østafjells</a><i class="icon" data-feather="arrow-up-right"></td>
                <td></td>
          </tr>
          <tr>
            <td>12-13. september</td>
            <td><a href="https://www.facebook.com/events/682811022247205/">Trysil Enduro</a><i class="icon" data-feather="arrow-up-right"></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
            <td>19.september</td>
            <td><a href="https://www.facebook.com/events/2395003067435245/">DrammEnduro</a><i class="icon" data-feather="arrow-up-right"></td>
              <td></td>
              <td><a href="https://www.facebook.com/ostafjellsets/">Østafjells</a><i class="icon" data-feather="arrow-up-right"></i></td>
              <td></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row mt-4">
  <div class="col-2"></div>
  <div class="col-8">
    For de interesserte har våre naboer i øst også en egen serie med egen nettside på <a href="https://www.enduroswedenseries.com/">https://www.enduroswedenseries.com/</a>. Sesongstart er 3. mai i Gøteborg. 
  </div>
</div>
<div class="row mt-4">
  <div class="col-2"></div>
  <div class="col-8">
    Kjenner du til flere ritt enn de som står her? Meld fra på knuthaug krøllalfa gmail dot com eller @knuthaug på twitter.
  </div>
</div>
<script src="/assets/js/{{hashedAssets 'cal.js'}}" crossorigin="anonymous"></script>
