<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-6 col-12">
    <h2>Rittkalender 2024</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8 col-12">
    <table class="counted" width="100%">
      <thead>
        <th>#</th>
        <th>Dato</th>
        <th>Ritt</th>
        <th>Resultater</th>
        <th>Serie</th>
        <th>P책melding</th>
      </thead>
      <tbody>
        <tr>
          <td>25-26. mai</td>
          <td><a
              href="https://www.facebook.com/events/1108735193801661"
            >Mistberget ungdomsenduro</a><i
              class="icon"
              data-feather="arrow-up-right"
            ></i></td>
          <td><a
              href="/ritt/1c74599b065ae7f54513df47e5779203"
            >Resultater</a></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>8-9. Juni</td>
          <td>Lillehammer enduro</td>
          <td><a
              href="/ritt/eee46f6360aa66c0a575bc35dfb3073b"
            >Resultater</a></td>
          <td>NC</td>
          <td></td>
        </tr>
        <tr>
          <td>24. Juni</td>
          <td><a
              href="https://www.ekstremsportveko.com/program/"
            >Ekstremsportveko enduro</a><i
              class="icon"
              data-feather="arrow-up-right"
            ></i></td>
          <td><a
              href="/ritt/e21c1ac6658e4159da280b61f52a3516"
            >Resultater</a></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>29. Juni</td>
          <td><a
              href="https://www.aronsportsklubb.no/drammenduro"
            >Drammenduro</a><i
              class="icon"
              data-feather="arrow-up-right"
            ></i></td>
          <td><a
              href="/ritt/a74c74481a9b36ce918dbc7280be4b15"
            >Resultater</a></td>
          <td>NC</td>
          <td></td>
        </tr>
        <tr>
          <td>3-4. august</td>
          <td><a
              href="https://sykling.no/app/uploads/2024/01/TraktorLand-Enduro-2024.pdf"
            >Traktorland enduro</a><i
              class="icon"
              data-feather="arrow-up-right"
            ></i></td>
          <td><a
              href="/ritt/5ffebb3653c7a51a5bfa34c4cee39e02"
            >Resultater</a></td>
          <td>NC/NM</td>
          <td></td>
        </tr>
        <tr>
          <td>23-25. august</td>
          <td><a href="https://www.facebook.com/events/1526728967874785">Harstad
              Enduro Race</a><i
              class="icon"
              data-feather="arrow-up-right"
            ></i></td>
          <td></td>
          <td></td>
          <td><a
              href="https://signup.eqtiming.com/signup/harstad-enduro-race-2024/g295.45083?event=harstad_enduro_race"
            >P책melding</a></td>
        </tr>

        <tr>
          <td>14-15. september</td>
          <td><a
              href="https://www.trysil.com/Gjore/Sommer/sykkel/sykkelnytt/trysil-enduro/"
            >Trysil enduro</a><i
              class="icon"
              data-feather="arrow-up-right"
            ></i></td>
          <td></td>
          <td>NC</td>
          <td><a
              href="https://live.eqtiming.com/70587#dashboard"
            >P책melding</a></td>
        </tr>
        <tr>
          <td>28-29. september</td>
          <td><a
              href="https://sykling.no/app/uploads/2024/01/Spikkestad-Enduro-2024-1.pdf"
            >Spikkestad enduro</a><i
              class="icon"
              data-feather="arrow-up-right"
            ></i></td>
          <td></td>
          <td>NC</td>
          <td></td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="row mt-4">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 col-12">
    <h4>Rittkalender for tidligere 책r</h4>
    <ul>
      <li><a href="/kalender/2023">2023</a></li>
      <li><a href="/kalender/2022">2022</a></li>
      <li><a href="/kalender/2021">2021</a></li>
      <li><a href="/kalender/2020">2020</a></li>
      <li><a href="/kalender/2019">2019</a></li>
    </ul>
  </div>
  <div class="col-lg-2"></div>
</div>
<script
  src="/assets/js/{{hashedAssets 'cal.js'}}"
  crossorigin="anonymous"
></script>