<div class="row">
  <div class="col-2">
  </div>
  <div class="col-6">
    <h2>Rittkalender 2020</h2>
    <p>Om det blir en 80/20 serie i 2020 er ganske usikkert. Enn så lenge står Nesbyen og Trysil som begge var i 80/20 i fjor som uten serie-tilknytning. Se mere detaljer rundt 80/20 på <a href="http://www.8020es.no/no/nyheter/2019/12/4/ny-ra">http://www.8020es.no/no/nyheter/2019/12/4/ny-ra</a> og <a href="https://www.terrengsykkel.no/nyheter/80-20-serien-kan-bli-lagt-ned">https://www.terrengsykkel.no/nyheter/80-20-serien-kan-bli-lagt-ned</a></p>
  </div>
</div>
<div class="row">
  <div class="col-2">
  </div>
  <div class="col-8">
    <table width="100%">
      <thead>
        <th>#</th>
        <th>Dato</th>
        <th>Ritt</th>
        <th>Resultater</th>
        <th>Serie</th>
        <th>Påmelding</th>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>1. februar</td>
          <td><a href="https://www.facebook.com/events/2472317043027603/">Hakadal enduro snowhill (avlyst!)</a><i class="icon" data-feather="arrow-up-right"></i></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
          <td>2</td>
          <td>10. mai</td>
          <td><a href="">80/20 NesbyEnduro</a><i class="icon" data-feather="arrow-up-right"></i></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>3</td>
          <td>23. mai</td>
          <td><a href="https://www.facebook.com/events/446710982745553/">Telemark enduro</a><i class="icon" data-feather="arrow-up-right"></td>
            <td></td>
            <td><a href="https://www.facebook.com/ostafjellsets/">Østafjells</a><i class="icon" data-feather="arrow-up-right"></td>
            <td></td>
        </tr>
        <tr>
          <td>4</td>
          <td>13-14. juni</td>
          <td><a href="https://www.facebook.com/events/636428516765082/">Traktorland Enduro</a><i class="icon" data-feather="arrow-up-right"></i></td>
          <td></td>
          <td><a href="https://www.facebook.com/ostafjellsets/">Østafjells</a><i class="icon" data-feather="arrow-up-right"></i></td>
           <td></td>
        </tr>
        <tr>
          <td>5</td>
          <td>27. juni</td>
          <td><a href="https://www.facebook.com/events/2395003067435245/">DrammEnduro</a><i class="icon" data-feather="arrow-up-right"></td>
            <td></td>
            <td><a href="https://www.facebook.com/ostafjellsets/">Østafjells</a><i class="icon" data-feather="arrow-up-right"></i></td>
            <td></td>
        </tr>
        <tr>
          <td>6</td>
          <td>11-12. juli</td>
          <td><a href="https://www.facebook.com/events/604802986937586/">Funduro Cup Skeikampen</a><i class="icon" data-feather="arrow-up-right"></td>
            <td></td>
            <td><a href="https://www.fundurocup.fi/">Funduro Cup</a><i class="icon" data-feather="arrow-up-right"></td>
              <td></td>
        </tr>
          <tr>
            <td>6</td>
            <td>15-16. august</td>
            <td><a href="https://www.facebook.com/events/554042141799123/">Oslo Enduro</a><i class="icon" data-feather="arrow-up-right"></td>
              <td></td>
            <td><a href="https://www.facebook.com/ostafjellsets/">Østafjells</a><i class="icon" data-feather="arrow-up-right"></td>
            <td></td>
          </tr>
          <tr>
            <td>7</td>
            <td>5-6. september</td>
            <td><a href="https://www.facebook.com/events/554089765372793/">Hakadal Enduro</a><i class="icon" data-feather="arrow-up-right"></td>
            <td></td>
            <td><a href="https://www.facebook.com/ostafjellsets/">Østafjells</a><i class="icon" data-feather="arrow-up-right"></td>
              <td></td>
          </tr>
          <tr>
            <td>7</td>
            <td>12-13. september</td>
            <td><a href="https://www.facebook.com/events/682811022247205/">Trysil Enduro</a><i class="icon" data-feather="arrow-up-right"></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          
          <tr>
            <td>8</td>
            <td>TBA (oktober)</td>
            <td>Ringerike enduro</td>
            <td></td>
            <td><a href="https://www.facebook.com/ostafjellsets/">Østafjells</a><i class="icon" data-feather="arrow-up-right"></td>
              <td></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row mt-4">
  <div class="col-2"></div>
  <div class="col-8">
    For de interesserte har våre naboer i øst også en egen serie med egen nettside på <a href="https://www.enduroswedenseries.com/">https://www.enduroswedenseries.com/</a>. Sesongstart er 3. mai i Gøteborg. 
  </div>
</div>
<div class="row mt-4">
  <div class="col-2"></div>
  <div class="col-8">
    Kjenner du til flere ritt enn de som står her? Meld fra på knuthaug krøllalfa gmail dot com eller @knuthaug på twitter.
  </div>
</div>
<script src="/assets/js/{{hashedAssets 'cal.js'}}" crossorigin="anonymous"></script>
