<div class="row">
  <div class="col-2">
  </div>
  <div class="col-6">
    <h2>Rittkalender 2019</h2>
  </div>
</div>
<div class="row">
  <div class="col-2">
  </div>
  <div class="col-8">
    <table width="100%">
      <thead>
        <th>#</th>
        <th>Dato</th>
        <th>Ritt</th>
        <th>Resultater</th>
        <th>Serie</th>
        <th>Påmelding</th>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2. mars</td>
          <td><a href="https://www.facebook.com/events/375875189877627/">Hakadal enduro snowhill</a><i class="icon" data-feather="arrow-up-right"></i></td>
            <td><a href="/ritt/fc51d6c0a4bb7ff71ba81a05c12f632a">Resultater</a> </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
          <td>2</td>
          <td>4. mai</td>
          <td><a href="https://www.facebook.com/events/234971390511131/">Telemark enduro</a><i class="icon" data-feather="arrow-up-right"></td>
            <td><a href="/ritt/834da5e93c9b8881c354c1e425bba578">Resultater</a> </td></td>
            <td><a href="https://www.facebook.com/ostafjellsets/">Østafjells</a><i class="icon" data-feather="arrow-up-right"></td>
            <td></td>
        </tr>
        <tr>
          <td>3</td>
          <td>25.-26. mai</td>
          <td><a href="https://www.facebook.com/events/544105266113101/">80/20 Molde enduro</a><i class="icon" data-feather="arrow-up-right"></i></td>
          <td><a href="/ritt/f999f7a3ff791b3286342785afe464a6">Resultater</td>
          <td><a href="http://8020es.no/">80/20</a><i class="icon" data-feather="arrow-up-right"></td>
            <td></td>
        </tr>
        <tr>
          <td>4</td>
          <td>8.-9. juni</td>
          <td><a href="https://www.facebook.com/events/2238244753056829/">80/20 Bodø enduro</a><i class="icon" data-feather="arrow-up-right"></i></td>
          <td><a href="/ritt/66ef32b6f7cb80beee49818bdcc7c9dc">Resultater</a></td>
          <td><a href="http://8020es.no/">80/20</a><i class="icon" data-feather="arrow-up-right"></td>
           <td></td>
        </tr>
        <tr>
          <td>5</td>
          <td>15.-16.juni</td>
            <td><a href="https://www.facebook.com/events/1884886804882583/">Traktorland</a><i class="icon" data-feather="arrow-up-right"></td>
              <td><a href="/ritt/c0e9f3d5c35b2140ddd340c1e9161531">Resultater</a></td>
              <td><a href="https://www.facebook.com/ostafjellsets/">Østafjells</a><i class="icon" data-feather="arrow-up-right"></i></td>
            <td></td>
          </tr>
          <tr>
            <td>6</td>
            <td>25. juni</td>
            <td>Ekstremsportveko enduro, Voss</td>
            <td><a href="/ritt/09d5b6a6cfcde27dbab7c53c3ddeb4ad">Resultater</a></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>7</td>
            <td>29. juni</td>
            <td><a href="https://www.facebook.com/events/2132635733723850/">DrammEnduro</a><i class="icon" data-feather="arrow-up-right"></td>
              <td><a href="/ritt/397b83f6876f62279112969d30212c74">Resultater</a></td>
            <td><a href="https://www.facebook.com/ostafjellsets/">Østafjells</a><i class="icon" data-feather="arrow-up-right"></td>
            <td></td>
          </tr>
          <tr>
            <td>8</td>
            <td>20. juli</td>
            <td><a href="https://www.facebook.com/events/305388156738601/">Beitostølen funduro</a><i class="icon" data-feather="arrow-up-right"></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>9</td>
            <td>10.-11. august</td>
            <td><a href="https://www.facebook.com/events/770771139981453/">80/20 Beitostølen enduro</a><i class="icon" data-feather="arrow-up-right"></i></td>
            <td><a href="/ritt/3db9730f4133d4a641a4f54a1e7a3785">Resultater</a></td>
            <td><a href="http://8020es.no/">80/20</a><i class="icon" data-feather="arrow-up-right"></td>
                <td></td>
                <td></td>
          </tr>
          <tr>
            <td>10</td>
            <td>17.-18. august</td>
            <td><a href="https://www.facebook.com/events/770771139981453/">Oslo enduro</a><i class="icon" data-feather="arrow-up-right"></td>
              <td><a href="/ritt/2161555e6f61727b950eb13126933225">Resultater</a></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
            <td>11</td>
            <td>24. august</td>
            <td><a href="https://www.facebook.com/events/2080223235359163/">Harstad enduro</a><i class="icon" data-feather="arrow-up-right"></td>
              <td><a href="/ritt/aa5b207db8f52fea0c89934554e17786">Resultater</a></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>12</td>
            <td>7.-8. september</td>
            <td><a href="https://www.facebook.com/events/2140722359272697/">Hakadal enduro</a><i class="icon" data-feather="arrow-up-right"></td>
              <td><a href="/ritt/55f5304c186e2c0b5c4c11d68f6f6aa5">Resultater</a></td>
            <td><a href="https://www.facebook.com/ostafjellsets/">Østafjells</a><i class="icon" data-feather="arrow-up-right"></td>
              <td></td>
          </tr>
          <tr>
            <td>13</td>
            <td>14.-15. september</td>
            <td><a href="https://www.facebook.com/events/2186102828274116/">80/20 NesbyEnduro</a><i class="icon" data-feather="arrow-up-right"></i></td>
            <td><a href="/ritt/f83a9f36b8f9f08746bc31eb3d3fc394">Resultater</a></td>
            <td><a href="http://8020es.no/">80/20</a><i class="icon" data-feather="arrow-up-right"></td>
              <td><a href="https://registration.mylaps.com/nesbyenduro/?fbclid=IwAR3gCdBFTOu21yxdMJ1YSh0yyepZ3YAJcWk654AWd6siNMTfRh5P_bARjEw">Link</a><i class="icon" data-feather="arrow-up-right"></i></td>
          </tr>
          <tr>
            <td>14</td>
            <td>21. september</td>
            <td><a href="https://www.facebook.com/events/1267474970081532/">Frei superenduro, Kristiansund</a><i class="icon" data-feather="arrow-up-right"></i></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>15</td>
            <td>28. september</td>
            <td><a href="https://www.facebook.com/events/1178806565628825/">Hardbarka enduro, Hemsedal</a><i class="icon" data-feather="arrow-up-right"></td>
              <td><a href="/ritt/080238a92cf865a73d92fafee7a9d9d0">Resultater</a></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>16</td>
            <td>5. Oktober</td>
            <td><a href="https://www.facebook.com/events/411270122955257/">80/20 Trysil enduro</a><i class="icon" data-feather="arrow-up-right"></i></td>
            <td><a href="/ritt/08737f8676fbfd984b2cea58b3760f6f">Resultater</a></td>
            <td><a href="http://8020es.no/">80/20</a><i class="icon" data-feather="arrow-up-right"></td>
              <td><a href="https://registration.mylaps.com/8020-trysil-enduro/?fbclid=IwAR3k0CsL0K60MevjZNdlhFv9vHLSlf6l2rkRvhomNwVywKUdv62TWwJUdKo">Link</a><i class="icon" data-feather="arrow-up-right"></i></td>
          </tr>
          <tr>
            <td>17</td>
            <td>12. oktober</td>
            <td>Ringerike enduro</td>
            <td></td>
            <td><a href="https://www.facebook.com/ostafjellsets/">Østafjells</a><i class="icon" data-feather="arrow-up-right"></td>
              <td></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row mt-4">
  <div class="col-2"></div>
  <div class="col-8">
    Kjenner du til flere ritt enn de som står her? Meld fra på knuthaug krøllalfa gmail dot com eller @knuthaug på twitter.
  </div>
</div>
<script src="/assets/js/{{hashedAssets 'cal.js'}}" crossorigin="anonymous"></script>
