<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-6 col-12">
    <h2>Rittkalender 2021</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8 col-12">
    <table class="counted" width="100%">
      <thead>
        <th>#</th>
        <th>Dato</th>
        <th>Ritt</th>
        <th>Resultater</th>
        <th>Serie</th>
        <th>Påmelding</th>
      </thead>
      <tbody>
             <tr>
             <td>15. mai</td>
             <td><a href="https://www.facebook.com/events/446710982745553">Telemark Enduro (avlyst)</a><i class="icon" data-feather="arrow-up-right"></i></td>
             <td></td>
             <td></td>
             <td></td>
             </tr>
             <tr>
               <td>12. juni</td>
               <td><a href="https://www.facebook.com/events/121910956512328">DrammEnduro</a><i class="icon" data-feather="arrow-up-right"></i></td>
               <td></td>
               <td>NC</td>
               <td></td>
             </tr>
             <tr>
               <td>TBA juni</td>
               <td>Molde Enduro</td>
               <td></td>
               <td>NC? NM?</td>
               <td></td>
             </tr>
             <tr>
               <td>28. juni</td>
               <td><a href="https://www.ekstremsportveko.com/sports/mtb/enduro/">Ekstremsportveko Enduro</a><i class="icon" data-feather="arrow-up-right"></i></td>
               <td></td>
               <td></td>
               <td></td>
             </tr>
             <tr>
               <td>21. august</td>
               <td><a href="https://www.facebook.com/events/277188190468976">Traktorland Enduro</a><i class="icon" data-feather="arrow-up-right"></i></td>
               <td></td>
               <td></td>
               <td></td>
             </tr>
             <tr>
               <td>4-5. september</td>
               <td><a href="https://www.trailheadnesbyen.no/nesbyen-enduro">Nesbyen Enduro</a><i class="icon" data-feather="arrow-up-right"></i></td>
               <td></td>
               <td></td>
               <td></td>
             </tr>
             <tr>
               <td>5. september</td>
               <td>Harstad Enduro</td>
               <td></td>
               <td></td>
               <td></td>
             </tr>
             <tr>
               <td>11. september</td>
               <td>Nittedal Ungdomsenduro (10-16 år)</td>
               <td></td>
               <td></td>
               <td><a href="https://live.eqtiming.com/56789#dashboard">Påmelding</a><i class="icon" data-feather="arrow-up-right"></i></td>
             </tr>
             <tr>
               <td>12. september</td>
               <td><a href="https://www.facebook.com/events/190952359485907/">Spikkestad Enduro</a><i class="icon" data-feather="arrow-up-right"></i></td>
               <td></td>
               <td></td>
               <td><a href="https://live.eqtiming.com/56349#dashboard">Påmelding</a><i class="icon" data-feather="arrow-up-right"></i></td>
             </tr>
             <tr>
               <td>18-19. september</td>
               <td><a href="https://www.facebook.com/events/268424264640487">Trysil Enduro</a><i class="icon" data-feather="arrow-up-right"></i></td>
               <td></td>
               <td>NC?</td>
               <td></td>
             </tr>
             <tr>
               <td>TBA</td>
               <td>Hakadal Enduro</td>
               <td></td>
               <td></td>
               <td></td>
             </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="row mt-4">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 col-12">
    Kjenner du til flere ritt enn de som står her? Meld fra på knuthaug krøllalfa gmail dot com eller @knuthaug på twitter.
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="row mt-4">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 col-12">
    <h4>Rittkalender for tidligere år</h4>
    <ul>
      <li><a href="/kalender/2020">2020</a></li>
      <li><a href="/kalender/2019">2019</a></li>
    </ul>
  </div>
  <div class="col-lg-2"></div>
</div>
<script src="/assets/js/{{hashedAssets 'cal.js'}}" crossorigin="anonymous"></script>
