<div class="row"> 
  <div class="col-lg-2">
  </div>
  <div class="col-lg-6 col-12">
    <h2>Rittkalender 2022</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8 col-12">
    <table class="counted" width="100%">
      <thead>
        <th>#</th>
        <th>Dato</th>
        <th>Ritt</th>
        <th>Resultater</th>
        <th>Serie</th>
        <th>Påmelding</th>
      </thead>
      <tbody>
        <tr>
          <td>14-15. mai</td>
          <td><a href="https://www.facebook.com/events/446710982745553">Telemark Enduro</a><i class="icon" data-feather="arrow-up-right"></i></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>11-12. juni</td>
          <td><a href="https://www.enduroworldseries.com/race/qualifiers/event/2022/nesbyen-enduro-nor/202228/">Nesbyen Enduro</a><i class="icon" data-feather="arrow-up-right"></i></td>
          <td></td>
          <td>EWS qualifier</td>
          <td></td>
        </tr>
        <tr>
          <td>25. juni</td>
          <td>DrammEnduro</td>
          <td></td>
          <td>NM!</td>
          <td></td>
        </tr>
        <tr>
          <td>10. september</td>
          <td><a href="https://www.facebook.com/events/342007207694649">Spikkestad Enduro</a><i class="icon" data-feather="arrow-up-right"></i></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>11. september</td>
          <td>Nittedal ungdomsenduro<i class="icon" data-feather="arrow-up-right"></i></td>
          <td></td>
          <td></td>
          <td><a href="https://live.eqtiming.com/60681#dashboard">Påmelding (ikke åpnet)</a></td>
        </tr>
        <tr>
          <td>17-18. september</td>
          <td><a href="https://www.facebook.com/events/521271959210005">Trysil Enduro</a><i class="icon" data-feather="arrow-up-right"></i></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="row mt-4">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 col-12">
    Kjenner du til flere ritt enn de som står her? Meld fra på knuthaug krøllalfa gmail dot com.
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="row mt-4">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 col-12">
    <h4>Rittkalender for tidligere år</h4>
    <ul>
      <li><a href="/kalender/2021">2021</a></li>
      <li><a href="/kalender/2020">2020</a></li>
      <li><a href="/kalender/2019">2019</a></li>
    </ul>
  </div>
  <div class="col-lg-2"></div>
</div>
<script src="/assets/js/{{hashedAssets 'cal.js'}}" crossorigin="anonymous"></script>
