<div class="row">
  <div class="col-2">
  </div>
  <div class="col-6">
    <h2>Rittkalender 2019</h2>
  </div>
</div>
<div class="row">
  <div class="col-2">
  </div>
  <div class="col-8">
    <table width="100%">
      <thead>
        <th>Dato</th>
        <th>Ritt</th>
        <th>Serie</th>
        <th>Påmelding</th>
      </thead>
      <tbody>
        <tr>
          <td>2. mars</td>
          <td><a href="https://www.facebook.com/events/375875189877627/">Hakadal enduro snowhill</a><i class="icon" data-feather="arrow-up-right"></td>
            <td></td>
            <td><a href="https://www.eqtiming.no/quick/index.php?page=eqtevent&eventuid=46838&sport=64-65-66-67-68-69-70-381&addpast=210&focusuid=45007&fbclid=IwAR0DQAPsO55jGPHqmsVb85lvv8l5Eqvjckqo6WeKSOzqbPaLOM7gEehlfuU">Link!</a></td>
        </tr>
        <tr>
          <td>4. mai</td>
          <td><a href="https://www.facebook.com/events/234971390511131/">Telemark enduro</a><i class="icon" data-feather="arrow-up-right"></td>
            <td><a href="https://www.facebook.com/ostafjellsets/">Østafjells</a><i class="icon" data-feather="arrow-up-right"></td>
              <td><a href="https://www.eqtiming.no/quick/index.php?page=eqtevent&eventuid=46140&sport=64-65-66-67-68-69-70-381&addfuture=30&focusuid=46537">Link!</a></td>
        </tr>
        <tr>
          <td>8.-9. juni</td>
          <td>Bodø enduro</td>
          <td><a href="http://8020es.no/">80/20</a><i class="icon" data-feather="arrow-up-right"></td>
          <td></td>
          <td></td>
        </tr>
          <tr>
            <td>15.-16.juni</td>
            <td><a href="https://www.facebook.com/events/1884886804882583/">Traktorland</a><i class="icon" data-feather="arrow-up-right"></td>
              <td><a href="https://www.facebook.com/ostafjellsets/">Østafjells</a><i class="icon" data-feather="arrow-up-right"></td>
            <td></td>
          </tr>
          <tr>
            <td>29. juni</td>
            <td><a href="https://www.facebook.com/events/2132635733723850/">DrammEnduro</a><i class="icon" data-feather="arrow-up-right"></td>
              <td><a href="https://www.facebook.com/ostafjellsets/">Østafjells</a><i class="icon" data-feather="arrow-up-right"></td>
            <td></td>
          </tr>
          <tr>
            <td>17.-18. august</td>
            <td><a href="https://www.facebook.com/events/770771139981453/">Oslo enduro</a><i class="icon" data-feather="arrow-up-right"></td>
              <td><a href="https://www.facebook.com/ostafjellsets/">Østafjells</a><i class="icon" data-feather="arrow-up-right"></td>
            <td></td>
          </tr>
          <tr>
            <td>7.-8. september</td>
            <td><a href="https://www.facebook.com/events/2140722359272697/">Hakadal enduro</a><i class="icon" data-feather="arrow-up-right"></td>
              <td><a href="https://www.facebook.com/ostafjellsets/">Østafjells</a><i class="icon" data-feather="arrow-up-right"></td>
            <td></td>
          </tr>
          <tr>
            <td>14.-15. september</td>
            <td>NesbyEnduro</td>
            <td><a href="http://8020es.no/">80/20</a><i class="icon" data-feather="arrow-up-right"></td>
            <td></td>
          </tr>
          <tr>
            <td>12. oktober</td>
            <td>Ringerike enduro</td>
            <td><a href="https://www.facebook.com/ostafjellsets/">Østafjells</a><i class="icon" data-feather="arrow-up-right"></td>
              <td></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row mt-4">
  <div class="col-2"></div>
  <div class="col-8">
    Kjenner du til flere ritt enn de som står her? Meld fra på knuthaug krøllalfa gmail dot com eller @knuthaug på twitter. 
  </div>
</div>
<script src="/assets/js/{{hashedAssets 'cal.js'}}" crossorigin="anonymous"></script>
