<div class="row">
  <div class="col-2">
  </div>
  <div class="col-8">
    <h2>Sammenligne ryttere</h2>
    <p>Velg en eller flere ryttere for sammenligning. Grunnlaget er ritt alle eller noen av ryttere man velger har deltatt i, basert på etappetider, plasseringer osv. 
  </div>
</div>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <form id="compare-search-form" class="form-inline mt-2 mt-md-0" method="" action="">
      Søk fram ryttere: <input class="form-control mr-sm-2 autoComplete" id="compare-search-field" type="text" name="search" placeholder="søk" aria-label="Search" list="compare-search-list" autocomplete="off">
      <datalist id="compare-search-list"></datalist>
    </form>
  </div>
</div>

<script src="/assets/js/{{hashedAssets 'compare.js'}}" crossorigin="anonymous"></script>
