<div class="row">
  <div class="col">
  </div>
  <div class="col-8">
    {{#each races}}
    <a href="/race/{{uid}}">{{name}} {{year}}</a><br/>
    {{/each}}
  </div>
  <div class="col">
  </div>
</div>

