<div class="row">
<div class="col-1"></div>
<div class="col-11">
      <h2><a name="top">Etapper {{race.name}} {{race.year}}</a></h2>
  </div>
</div>
<div class="row" data-gpx="{{gpxData}}">
  <div class="col-1"></div>
    <div class="col-10">
      <div id="map"></div>
    </div>
    <div class="col-1"></div>
</div>
<div id="legend">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h3>Fargeforklaring</h3>
      <table class="legend text-center">
    <tr>
      <td>
        <span>15 til 5 %</span>
      </td>
      <td>
        <span>5 til 0 %</span>
      </td>
      <td>
        <span>0 til -5 %</span>

      </td>
      <td>
        <span>-5 til -10 %</span>

      </td>
      <td>
        <span>-10 til -15 %</span>

      </td>
      <td>
        <span>-15 til -20 %</span>

      </td>
      <td>
        <span>-20 til -25 %</span>

      </td>
      <td>
        <span>-25 til -35 %</span>

      </td>
      <td>
        <span>-35 til -45 %</span>
      </td>
    </tr>
    <tr>
      <td>
        <div class="color green1"></div>
      </td>
      <td>
        <div class="color green2"></div>
      </td>
      <td>
        <div class="color red1"></div>
      </td>
      <td>
        <div class="color red2"></div>
      </td>
      <td>
        <div class="color red3"></div>
      </td>
      <td>
        <div class="color red4"></div>
      </td>
      <td>
        <div class="color red5"></div>
      </td>
      <td>
        <div class="color red6"></div>
      </td>
      <td>
        <div class="color red7"></div>
      </td>
    </tr>
    </table>
    </div>
    <div class="col-1"></div>
  </div>
</div>
<div id="details">

</div>
<script src="/assets/js/{{hashedAssets 'map.js'}}" crossorigin="anonymous"></script>
