<div class="row">
<div class="col-1"></div>
<div class="col-11">
      <h2><a name="top">Etapper {{race.name}} {{race.year}}</a></h2>
  </div>
</div>
<div class="row" data-gpx="{{gpxData}}">
  <div class="col-1"></div>
    <div class="col-10">
      <div id="map"></div>
    </div>
    <div class="col-1"></div>
</div>
<div class="row">
  <div class="col-1"></div>
  <div class="col-11">
    <h2>Detaljer</h2>
  </div>
</div>
<script src="/assets/js/{{hashedAssets 'map.js'}}" crossorigin="anonymous"></script>
