<div class="row">
  <div class="col-2">
  </div>
  <div class="col-8">
    <h2>{{race.name}}</h2>
    <p>Dato: {{race.date}}</p>
  </div>
</div>
<div class="row">
  <div class="col-2">
  </div>
  <div class="col-8">
    {{#each results}}
    <h3>{{@key}}</h3>
    
    {{/each}}
  </div>
  <div class="col-2">
  </div>
</div>



