<div class="row">
  <div class="col-2">
  </div>
  <div class="col-8">
    {{#each races}}
    <h3 class="m-m-t">{{year}}</h3>
     {{#each races}}
      <a class="padded-link" href="/ritt/{{uid}}">{{name}} {{year}}</a><br/>
     {{/each}}
    {{/each}}
  </div>
  <div class="col-2">
  </div>
</div>

